<template>
  <div class="about">
    <h1>Lists of Done tasks</h1>
    <v-container>
      <div v-for="todo in todos" :key="todo._id" class="mt-1">
        <v-row>
          <v-col cols="12" sm="6" md="4">
            <v-card elevation="2">
                <v-card-text>
                <div @click="details(todo._id)">
                  <span :class="{done: todo.completed }">{{ todo.description }}</span>
                </div>
              </v-card-text>
              </v-card>
          </v-col>
        </v-row>
      </div>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
  computed: {
    todos() {
      return this.$store.getters.doneTask;
    },
  },
})

export default class Done extends Vue {
  private details(id: string) {
    this.$router.push('/details/' + id);
  }
}
</script>

<style scoped>
  .done{
    text-decoration: line-through;
  }
</style>