<template>
<v-card
    class="mx-auto"
    max-width="344"
    outlined
  >
    <v-container>
        <v-col cols="12" sm="12" md="12">
            <v-form>
                <v-text-field counter="50" hint="Edit Name" label="Name" v-model="name"></v-text-field>
            </v-form>
        </v-col>
        <v-col align="center">
          <v-btn rounded @click="updateUser" color="success" dark>Submit</v-btn>
        </v-col>
    </v-container>
</v-card>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
    methods: {
        updateUser() {
            this.$store.dispatch('updateUser', this.name );
            this.$router.push('/profile');
        },
    },
    data() {
        return{
            name: this.$store.state.user.name,
        };
    },
});
</script>