<template>
  <div class="home">
    <v-container>
      <v-row>
        <AddTodo />
      </v-row>
      <v-row>
        <Todos />
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import AddTodo from '../components/AddTodo.vue';
import Todos from '../components/Todos.vue';

@Component({
  components: {
    AddTodo,
    Todos,
  },
})
export default class Home extends Vue {}
</script>
