<template>
    <v-container>
        <v-row>
            <v-col cols="12" sm="8" md="6">
                <v-card v-if="userDetails !== null">
                    <v-card-title class="subheading font-weight-bold">
                    {{ userDetails._id }}
                    </v-card-title>

                    <v-divider></v-divider>

                    <v-list dense>
                        <v-list-item>
                            <v-list-item-content>Name:</v-list-item-content>
                            <v-list-item-content class="align-end">
                            {{ userDetails.name }}
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>Age:</v-list-item-content>
                            <v-list-item-content class="align-end">
                            {{ userDetails.age }}
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>Email:</v-list-item-content>
                            <v-list-item-content class="align-end">
                            {{ userDetails.email }}
                            </v-list-item-content>
                        </v-list-item>

                    </v-list>
            </v-card>
            </v-col>
        </v-row>

        <v-row>
            <v-btn outlined color="indigo" @click="edit">Edit</v-btn>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
    methods: {
        edit() {
            this.$router.push('/user/edit');
        },
    },
    computed: {
      userDetails() {
        return this.$store.state.user;
      },
    },
});
</script>