<template>
<v-main align="center" justify="center">
<v-card
    class="mx-auto"
    max-width="500"
    outlined
  >
  <v-form>
    <v-container>
      <h1>Singup</h1>
      <v-row>

        <v-col cols="12" sm="12" md="12">
          <v-text-field
          v-model="name"
            label="Name"
            placeholder="name"
            outlined
          ></v-text-field>
        </v-col>

      </v-row>
      <v-row>

        <v-col cols="12" sm="12" md="12">
          <v-text-field
          v-model="email"
          :rules="emailRules"
            label="Email"
            placeholder="example@example.com"
            outlined
          ></v-text-field>
        </v-col>

      </v-row>

      <v-row>

          <v-col cols="12" sm="12" md="12">
            <v-text-field
                v-model="password"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required, rules.min]"
                :type="show1 ? 'text' : 'password'"
                name="input-10-1"
                label="Password"
                hint="At least 8 characters"
                placeholder="Passwrod"
                outlined
                counter
                @click:append="show1 = !show1"
            ></v-text-field>
            </v-col>

      </v-row>
      <v-row>

          <v-col cols="12" sm="12" md="12">
            <v-text-field
                v-model="passwordConfirm"
                :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required, rules.min]"
                :type="show2 ? 'text' : 'password'"
                name="input-10-1"
                label="Password"
                hint="At least 8 characters"
                placeholder="Passwrod"
                outlined
                counter
                @click:append="show2 = !show2"
            ></v-text-field>
            </v-col>

      </v-row>
      <v-row>

        <v-col cols="12" sm="12" md="12">
          <v-text-field
          v-model="age"
            label="Age"
            placeholder="20"
            outlined
          ></v-text-field>
        </v-col>

      </v-row>

      <v-row>
        <v-col align="center">
          <v-btn rounded @click="submit()" color="success" dark>Submit</v-btn>
        </v-col>
        <v-col align="center">
          <v-btn rounded to="/" color="primary" dark>Signin</v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</v-card>
</v-main>
</template>

<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
    data() {
        return{
            name: '',
            age: '',
            email: '',
            emailRules: [
              (v: any) => !!v || 'E-mail is required',
              (v: any) => /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid',
            ],
            password: '',
            show1: false,
            rules: {
                required: (value: any) => !!value || 'Required.',
                min: (v: any) => v.length >= 8 || 'Min 8 characters',
                emailMatch: () => ('The email and password you entered don\'t match'),
            },
            passwordConfirm: '',
            show2: false,
        };
    },
    methods: {
        submit() {
            if (this.$data.password === this.$data.passwordConfirm) {
                this.$store.dispatch('register', {
                    name: this.$data.name,
                    email: this.$data.email,
                    password: this.$data.password,
                    age: this.$data.age,
                });
                this.$router.push('/');
            } else {
                console.log('failed');
            }
        },
    },
});
</script>