<template>
    <v-container>
        <v-row>
            <v-col cols="6" sm="12" md="3">
                <v-form>
                    <v-text-field counter="50" hint="Add Todo" label="Create Todo List" v-model="tempData"></v-text-field>
                </v-form>
            </v-col>
            <v-col cols="3" sm="6" md="3">
                <v-btn outlined @click="addTodo" color="success" elevation="5"> Add Todo </v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator';

@Component
export default class AddTodo extends Vue {

    private tempData?: string = '';

    private addTodo(): void {
        this.$store.dispatch('addTodo', { description: this.tempData});
        this.tempData = '';
    }
}

</script>