<template>
    <div>
        <h1>You are logged out</h1>
        <router-link to="/">
            Go to sign in
        </router-link>
    </div>
</template>

<script lang="ts">
import Vue from 'vue';
export default Vue.extend({
    created() {
        this.$store.dispatch('logout').then((res: any) => {
            this.$router.push('/logout');
        }).catch((err: any) => console.log(err));
    },
});
</script>
