<template>
  <div>
    <v-navigation-drawer app fixed v-model="showMenu" v-if="loggedIn">
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="title">
            Todo App
          </v-list-item-title>
          <v-list-item-subtitle>
            todos
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list
        dense
        nav
      >
        <v-list-item
          v-for="item in items"
          :key="item.title"
          link :to="item.path"
        >
          <v-list-item-icon>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>


    <v-app-bar app color="green" dense flat>
    <v-app-bar-nav-icon @click.stop="toggleDrawer" v-show="loggedIn"></v-app-bar-nav-icon>
    <v-toolbar-items>
      <h1>Todo</h1>
    </v-toolbar-items>
    <v-spacer></v-spacer>
    <v-btn v-show="loggedIn" icon to="/logout">
      <v-icon>mdi-logout</v-icon>
    </v-btn>
    <v-avatar v-show="loggedIn" @click="goToProfile">
      <img
        src="https://cdn.vuetifyjs.com/images/john.jpg"
        alt="John"
      >
    </v-avatar>
  </v-app-bar>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component

export default class NavBar extends Vue {
  private showMenu?: boolean = false;
  get items(): { title: string, icon: string, path: string } {
    return this.$store.state.routes;
  }

  private toggleDrawer(): void {
    this.showMenu = !this.showMenu;
  }

  get loggedIn(): boolean {
    return this.$store.getters.loggedIn;
  }

  private goToProfile(): void {
    // this.$router.push('/profile');

  }
}
</script>