<template>
    <v-container>
        <v-row>
            <v-col cols="12" sm="6" md="4">
                <v-card v-if="details !== null">
                    <v-card-title class="subheading font-weight-bold">
                    {{ details._id }}
                    </v-card-title>

                    <v-divider></v-divider>

                    <v-list dense>
                        <v-list-item>
                            <v-list-item-content>Description:</v-list-item-content>
                            <v-list-item-content class="align-end">
                            {{ details.description }}
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>Completed:</v-list-item-content>
                            <v-list-item-content class="align-end">
                            {{ details.completed }}
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>Owner:</v-list-item-content>
                            <v-list-item-content class="align-end">
                            {{ details.owner }}
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>CreatedAt:</v-list-item-content>
                            <v-list-item-content class="align-end">
                            {{ details.createdAt }}
                            </v-list-item-content>
                        </v-list-item>

                        <v-list-item>
                            <v-list-item-content>UpdatedAt:</v-list-item-content>
                            <v-list-item-content class="align-end">
                            {{ details.updatedAt }}
                            </v-list-item-content>
                        </v-list-item>

                    </v-list>
            </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script lang="ts">
import {Vue,  Component} from 'vue-property-decorator';

@Component({
    props: ['id'],
    computed: {
        details() {
            return this.$store.state.details;
        },
    },
    created() {
        this.$store.dispatch('details', this.$props.id);
    },
})

export default class TaskDetails extends Vue {}

</script>