<template>
    <v-container v-if="todos">
        <div v-for="todo in todos" :key="todo._id" class="mt-1">
            <v-row>
                <v-col cols="12" sm="6" md="4">
                <v-card elevation="2">
                    <v-card-text>
                    <div>
                    <span :class="{done: todo.completed }" @click="desc(todo._id)">
                        {{ todo.description }}
                    </span>
                    <v-btn @click="toggleDone(todo._id, todo.completed)" class="ma-1" color="success" plain>
                        <span v-if="!todo.completed">Done</span>
                        <span v-else>Not Done</span>
                    </v-btn>
                    <v-btn @click="removeTodo(todo._id)" class="ma-1" color="error" plain>
                        Delete
                    </v-btn>
                    </div>
                </v-card-text>
                </v-card>
                </v-col>
            </v-row>
        </div>
    </v-container>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

@Component({
    computed: {
        todos() {
            return this.$store.state.todos;
        },
    },
})
export default class Todos extends Vue {

    private toggleDone(index: string, completed: boolean): void {
        this.$store.dispatch('updateTodo', { completed, _id: index });
    }

    private removeTodo(index: string): void {
        this.$store.dispatch('deleteTodo', { _id: index});
    }

    private mounted(): void {
        this.$store.dispatch('load');
    }

    private desc(id: string): void {
        this.$router.push(`/details/` + id);
    }
}
</script>

<style scoped>
  .done{
    text-decoration: line-through;
  }
</style>
