<template>

  <v-app>

    <NavBar />

    <!-- Sizes your content based upon application components -->
    <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>

        <!-- If using vue-router -->
        <router-view/>
      </v-container>
    </v-main>

    <v-footer app>
      <h3>This is footer</h3>
    </v-footer>
  </v-app>

</template>

<script lang="ts">
import Vue from 'vue';
import NavBar from './components/NavBar.vue';

export default Vue.extend({
  name: 'App',
  components: {
    NavBar,
  },
});
</script>